/* Set background gradient */
body {
    /* background-image: linear-gradient(to bottom, #E0EAFC, #CFDEF3); */
    background-repeat: no-repeat;
}

/* Set font and link colors */
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

a {
    color: #214f6a;
}

a:hover {
    color: #c93434;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* Add a subtle drop shadow to the navbar */
.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the jumbotron */
.jumbotron {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.jumbotron p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Add a subtle shadow and border to the cards */
.card {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

/* Style the card headers */
.card-header {
    background-color: #214f6a;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* Style the card body */
.card-body {
    padding: 1rem;
}

/* Style the card footer */
.card-footer {
    background-color: #f8f9fa;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem;
}

/* Style card title */
.card-title {
    font-size: 16px;
  }

/* Style the button */
.btn-custom {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #214f6a;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-custom:hover {
    background-color: #c93434;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style the primary button */
.btn-primary {
    color: #fff;
    background-color: #c93434;
    border-color: #c93434;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background-color: #214f6a;
    border-color: #214f6a;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-align{
    text-align: center;
}

.fontawe-icon{
    color: #c93434;
    margin-right: 10px;
}

/* Company browse css*/
/* .company-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.company-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
} */
.company-logo {
    /* max-width: 80%;
    height: auto; */
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px;
}
.company-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.company-rating {
    color: #c93434;
    padding-top: 10px;
    /* position: absolute;
    bottom: 0;
    right: 0; */
}
.company-phone{
    color: gray;
    font-weight: bold;
}
.company-address{
    font-style: italic;
}
.fa-star {
    font-size: 1.2rem;
    color: #c93434;
}
.fa-star-o {
    font-size: 1.2rem;
    color: #ccc;
}
.company-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.company-link:hover {
    color: #c93434;
}

/* Breadcrumbs */
.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item.active > a {
    color: #c93434;
}

/* Company detail page */
.card-comdetail {
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    font-size: 16px;
  }
  
  .card-image-comdetail {
    object-fit: cover;
    height: 100%;
  }
  
  .card-title-comdetail {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .card-text-comdetail {
    font-size: 1.5rem;
    font-weight: 500;
  }

/* For the tabs in company detail page */
.navbar-color{
    color: #c93434;
}

.nav-tabs .nav-link.active {
    background-color: #c93434;
    color: white;
  }

.gallery-img {
    max-width: 200px;
}





/* For mobiler responsive */
@media (min-width: 320px) {

    /* style the navbar however u want */
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        align-items: center !important;
    }
}
