/* body{
    background-color: #325d9b;
    color: #fff;
  } */

/* *{
  padding: 0px;
  margin:0px;
} */
.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.container {
    margin-top: 5px;
}

h1 {
    text-align: center;
}

.search-input {
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
}

.featured-businesses {
    text-align: center;
}

.card-title {
    color: black;
}

/* screen from width > 500px will apply this */
@media (min-width: 500px) {
    /* style the navbar however u want */
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        align-items: center !important;
    }
}
